<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 특정 영역 전체를 반복하고 싶을 때 th:block 으로 감싸서 사용 -->
<!-- 가급적 th:block 사용 지양 (어쩔 수 없을 때만 사용) -->
<!-- 기왕이면 html 태그에 th:each 속성을 추가하는 방식으로 쓰는 것을 권장 -->
<th:block th:each="user : ${users}">
    <div>
        사용자 이름1 <span th:text="${user.username}"></span>
        사용자 나이1 <span th:text="${user.age}"></span>
    </div>
    <div>
        요약 <span th:text="${user.username} + ' / ' + ${user.age}"></span>
    </div>
</th:block>

</body>
</html>