<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>예시</h1>
<span th:text="${data}">html data</span>

<h1>1. 표준 HTML 주석 (결과 html 에 포함됨)</h1>
<!--
<span th:text="${data}">html data</span>
-->

<h1>2. 타임리프 파서 주석 (결과 html 에 포함 안됨, 랜더링 자체를 안함)</h1>
<!--/* [[${data}]] */-->

<!--/*-->
<span th:text="${data}">html data</span>
<!--*/-->

<h1>3. 타임리프 프로토타입 주석 (타임리프로 랜더링할 때만 나타남, 그냥 html 파일 열면 주석으로 표현됨)</h1>
<!--/*/
<span th:text="${data}">html data</span>
/*/-->

</body>
</html>
