<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!-- 자바스크립트 인라인 사용 전 -->
<script>
    <!-- thymeleaf 안쓸 때 String 을 double quote 로 감싸줘야 함 -->
    var username = "[[${user.username}]]";
    var age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿 ("test username" 출력)
    var username2 = /*[[${user.username}]]*/ "test username";

    //thymeleaf 없으면 객체 그대로 출력하려고 할 때 오류 발생
    var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]];
    var age = [[${user.age}]];

    //자바스크립트 내추럴 템플릿 ("userA" 출력)
    var username2 = /*[[${user.username}]]*/ "test username";

    //thymeleaf 가 객체를 JSON 으로 변환해줌
    var user = [[${user}]];
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">

    [# th:each="user, userStat : ${users}"]
    var user[[${userStat.count}]] = [[${user}]];
    [/]

</script>

</body>
</html>